#cmp-container {
  padding-right: 15px;
}

h2 {
  margin-top: 2rem;
}

.cmp-card {
  background: #fff;
  padding: 20px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}
.cmp-card h3 {
  margin-top: 0.5em;
}
.cmp-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}
.cmp-grid-item {
  display: flex;
  align-items: center;
}
.cmp-label {
  margin-right: 1rem;
}

#cmp-simulation-results {
  max-height: 200px;
  overflow-y: auto;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  padding: 10px;
  margin-top: 20px;
  display: none;
}
